@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

.footer{
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    width: 90%;    
    justify-content: center;
    text-align: center;
    padding: 4% 0% 0% 0%;
    display:inline-flex;
    flex-wrap: none;
    position:absolute;
    bottom:0;
}