
  .container {
            display: grid;
            grid-template-rows: 10% 90%;
            grid-template-columns: 15% 70% 15%;
            grid-template-areas:
                "topMenu topMenu"
                "sideMenu Body"
                "footer footer";
                border: 1px black solid;
  }
   
        