@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.list li{
    list-style-type: none;
    display: inline;    
    padding-right: 1.5rem;    
}